.write {
    padding-top: 50px;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 370px;
    border-radius: 10px;
    object-fit: cover;

}

.writeForm {
    position: relative;
}

.writeFormGroup {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeIcon {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    color: gray;
    cursor: pointer;
}

.writeInput {
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus {
    outline: none;
}

.writeText {
    font-size: 22px;
    height: 60vw;
}

.writeSubmit {
    position: absolute;
    right: 110px;
    top: 20px;
    color: white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}